{% extends "cpanel/layouts/layout.html.twig" %}


{% block title %} Parser | Process Management{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('/cpanel/plugins/custom/datatables/datatables.bundle.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('/cpanel/plugins/custom/datatables/datatables.bundle.js') }}"></script>
    <script>
        $("#datatable").DataTable({
            searching: true,
            search: true,
            sort: false
        });
    </script>
{% endblock %}

{% block content %}
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                 data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                 class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Parser</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Process Management</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Container-->
    <div id="kt_content_container" class="container-fluid">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="datatable">
                    <!--begin::Table head-->
                    <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                        <th class="w-10px pe-2 text-center">#</th>
                        <th class="min-w-80px text-start ps-5">Contract</th>
                        <th class="min-w-80px text-start ps-5">Status</th>
                        <th class="min-w-80px text-center">Processed</th>
                        <th class="min-w-125px text-center">Add Date</th>
                        <th class="min-w-100px text-end">Actions</th>
                    </tr>
                    <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="text-gray-600 fw-bold">
                    <!--begin::Table row-->
                    {% for process in processes %}
                        <tr>
                            <!--begin::id-->
                            <td class="text-center text-bold">
                                {{ process.id }}
                            </td>
                            <!--end::id-->
                            <!--begin::Contract=-->
                            <td class="d-flex align-items-center">
                                <!--begin:: Avatar -->
                                <div class="symbol symbol-60px overflow-hidden me-3">
                                    {% set color = random(['danger', 'success', 'primary', 'info']) %}
                                    <div class="symbol-label fs-3 bg-light-{{ color }} text-{{ color }}">{{ process.task.title|first|upper }}</div>
                                </div>
                                <!--end::Avatar-->
                                <!--begin::User details-->
                                <div class="d-flex flex-column">
                                    <a href="{{ path('cp.parer.task.edit', {id:process.task.id}) }}" class="text-gray-800 text-hover-primary">
                                        {{ process.task.title ? process.task.title : '-' }}
                                    </a>
                                    <span class="text-muted">{{ process.task.contract }}</span>
                                    <span class="text-muted fs-7">{{ process.task.description ? process.task.description : '-' }}</span>
                                </div>
                                <!--begin::User details-->
                            </td>
                            <!--end::Contract=-->
                            <td>

                                {% if process.status == 'wait'%}
                                    <div class="badge badge-light-primary m-1">Wait</div>
                                {% elseif process.status == 'processed'%}
                                    <div class="badge badge-light-primary m-1">Processed</div>
                                {% elseif process.status == 'finish'%}
                                    <div class="badge badge-light-success m-1">Finish</div>
                                {% else %}
                                    <div class="badge badge-light-danger m-1">Failed</div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {{ process.processed }}/{{ process.total }}
                            </td>
                            <!--begin::Created-->
                            <td class="text-center">{{ process.createdAt.format('d M Y, H:i') }}</td>
                            <!--begin::Created-->
                            <!--begin::Action=-->
                            <td class="text-end">
                                <a href="{{ path('cp.parer.process.destroy', {id:process.id}) }}"
                                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                    <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                                    <span class="svg-icon svg-icon-3"><svg xmlns="http://www.w3.org/2000/svg"
                                                                           xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                           width="24px" height="24px"
                                                                           viewBox="0 0 24 24"
                                                                           version="1.1"><g stroke="none"
                                                                                            stroke-width="1"
                                                                                            fill="none"
                                                                                            fill-rule="evenodd"><rect
                                                        x="0" y="0" width="24" height="24"></rect><path
                                                        d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                        fill="#000000" fill-rule="nonzero"></path><path
                                                        d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                        fill="#000000" opacity="0.3"></path></g></svg></span>
                                    <!--end::Svg Icon-->
                                </a>
                            </td>
                            <!--end::Action=-->
                        </tr>
                    {% endfor %}
                    <!--end::Table row-->
                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
{% endblock %}
